@charset "UTF-8";
:root {
  --font-family-base: "Rubik", sans-serif;
}

.app {
  overflow-x: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  position: relative;
}

body {
  background-color: #000000;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

.loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 48px 0 #fff, -48px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(255, 255, 255, 0.1333333333);
    box-shadow: 48px 0 rgba(255, 255, 255, 0.1333333333), -48px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 48px 0 rgba(255, 255, 255, 0.1333333333), -48px 0 rgba(255, 255, 255, 0.1333333333);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1333333333);
    box-shadow: 48px 0 #FFF, -48px 0 rgba(255, 255, 255, 0.1333333333);
  }
}
/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Rubik";
  src: url("../../../public/fonts/Rubik-Light.woff2") format("woff2 ");
  font-weight: 400;
  font-display: swap;
}
.herostats {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .herostats {
    width: 100vw;
  }
}
.herostats__button {
  position: fixed;
  top: 50px;
  right: calc(100% - 133px);
  height: 48px;
  padding-inline: 18px;
  font-size: 16px;
  background-color: transparent;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  border-radius: 14px;
  transition-duration: 0.2s;
  box-shadow: 3px 5px 20px white;
}
@media (max-width: 767px) {
  .herostats__button {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 30px;
  }
}
.herostats__button:hover {
  background-color: #ffffff;
  color: #000000;
}
.herostats__stats {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  text-shadow: 1px 1px 5px white;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  font-family: Rubik, sans-serif;
  gap: 25px;
}
.herostats__stats-name {
  font-size: 3rem;
}
@media (max-width: 767px) {
  .herostats__stats-value {
    text-align: center;
  }
}
.herostats__name {
  text-shadow: 2px 2px 10px white;
  font-size: 5rem;
  color: white;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .herostats__name {
    margin: 30px 0;
    text-align: center;
    font-size: 3rem;
  }
}
.herostats__main {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
@media (max-width: 767px) {
  .herostats__main {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.herostats__main-avatar {
  width: 300px;
  height: 300px;
  border-radius: 30%;
  border: 2px solid white;
  box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.3);
  margin-bottom: 50px;
}
.herostats__main__info {
  width: 300px;
  color: white;
  font-weight: bold;
  font-family: Rubik, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 767px) {
  .herostats__main__info {
    align-items: center;
  }
}
.herostats__main__info__diagram {
  display: flex;
  align-items: center;
  gap: 20px;
}
.herostats__main__info__diagram-graph {
  width: 80px;
  order: 2;
}
.herostats__main__info-roles {
  display: flex;
  gap: 5px;
}
.herostats__attributes {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .herostats__attributes {
    width: 100%;
  }
}
.herostats__attributes-str {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  gap: 0.5rem;
  padding: 10px 10px;
  border-radius: 20px;
  width: 200px;
  color: red;
  text-shadow: 2px 2px 10px red;
}
@media (max-width: 767px) {
  .herostats__attributes-str {
    font-size: 1.5rem;
    padding: 2px 2px;
    width: 100px;
  }
}
.herostats__attributes-str img {
  border-radius: 50%;
  border: 4px solid red;
  box-shadow: 10px 5px 20px rgba(255, 0, 0, 0.3);
  user-select: none;
}
.herostats__attributes-agi {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  gap: 0.5rem;
  padding: 10px 10px;
  border-radius: 20px;
  width: 200px;
  color: #00fa00;
  text-shadow: 2px 2px 10px #00fa00;
}
@media (max-width: 767px) {
  .herostats__attributes-agi {
    font-size: 1.5rem;
    padding: 2px 2px;
    width: 100px;
  }
}
.herostats__attributes-agi img {
  border-radius: 50%;
  border: 4px solid #00fa00;
  box-shadow: 10px 5px 20px rgba(0, 255, 0, 0.3);
  user-select: none;
}
.herostats__attributes-int {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  gap: 0.5rem;
  padding: 10px 10px;
  border-radius: 20px;
  width: 200px;
  color: #00a2db;
  text-shadow: 2px 2px 10px #00a2db;
}
@media (max-width: 767px) {
  .herostats__attributes-int {
    font-size: 1.5rem;
    padding: 2px 2px;
    width: 100px;
  }
}
.herostats__attributes-int img {
  border-radius: 50%;
  border: 4px solid #00a2db;
  box-shadow: 10px 5px 20px rgba(0, 162, 219, 0.3);
  user-select: none;
}

.statistic {
  font-size: 1.8rem;
  text-shadow: 1px 1px 5px white;
  color: white;
  font-weight: bold;
  font-family: Rubik, sans-serif;
}

.herostats__main__info-roles-role {
  font-size: 1rem;
}

.loading-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-2 {
  width: 300px;
  height: 300px;
  border: 20px solid;
  border-color: #ffffff transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.attributes-img {
  width: 100px;
  height: 100px;
}
@media (max-width: 767px) {
  .attributes-img {
    width: 70px;
    height: 70px;
  }
}

.herostats__button-2 {
  display: none;
}
@media (max-width: 767px) {
  .herostats__button-2 {
    display: block;
    position: fixed;
    top: 50px;
    right: calc(100% - 133px);
    height: 48px;
    padding-inline: 18px;
    font-size: 16px;
    background-color: transparent;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffffff;
    border-radius: 14px;
    transition-duration: 0.2s;
    box-shadow: 3px 5px 20px white;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .herostats__button-2 {
    position: relative;
    top: 0;
    right: 0;
  }
}
@media (max-width: 767px) {
  .herostats__button-2:hover {
    background-color: #ffffff;
    color: #000000;
  }
}

/*# sourceMappingURL=app-heroStats.css.map */
