@charset "UTF-8";
:root {
  --font-family-base: "Rubik", sans-serif;
}

.app {
  overflow-x: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  position: relative;
}

body {
  background-color: #000000;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

.loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 48px 0 #fff, -48px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(255, 255, 255, 0.1333333333);
    box-shadow: 48px 0 rgba(255, 255, 255, 0.1333333333), -48px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 48px 0 rgba(255, 255, 255, 0.1333333333), -48px 0 rgba(255, 255, 255, 0.1333333333);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1333333333);
    box-shadow: 48px 0 #FFF, -48px 0 rgba(255, 255, 255, 0.1333333333);
  }
}
/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Rubik";
  src: url("../../../public/fonts/Rubik-Light.woff2") format("woff2 ");
  font-weight: 400;
  font-display: swap;
}
.header {
  margin-top: 60px;
  width: 1100px;
  margin-inline: auto;
  user-select: none;
  position: absolute;
  z-index: 2;
}
@media (max-width: 767px) {
  .header {
    width: 100vw;
    display: none;
  }
}
.header__logo {
  transition-duration: 0.2s;
}
.header__logo:hover {
  transform: scale(1.2);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
.header__menu {
  margin-left: auto;
  font-size: 28px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  color: #ffffff;
}
.header__menu-link:hover::after {
  width: 100%;
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
  text-shadow: 2px 2px 10px white;
}
.header__menu-link a:link {
  text-decoration: none;
  color: white;
}
.header__menu-link a:visited {
  color: white;
  text-decoration: none;
}
.header__menu-link a:hover {
  text-decoration: none;
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: 0.2s;
}
.header__menu-link a.active {
  border-bottom: white 5px solid;
  padding-bottom: 5px;
}
.header__button {
  height: 48px;
  padding-inline: 18px;
  font-size: 16px;
  background-color: transparent;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  border-radius: 14px;
  transition-duration: 0.2s;
}
.header__button:hover {
  background-color: #ffffff;
  color: #000000;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 1100px;
  height: 850px;
}
@media (max-width: 767px) {
  .wrapper {
    display: none;
  }
}
.wrapper__image {
  position: absolute;
  left: calc(100% - 450px);
  top: 25%;
  width: 450px;
  display: flex;
  overflow: hidden;
}
@media (max-width: 767px) {
  .wrapper__image {
    position: relative;
    left: 0;
    top: 0;
  }
}
.wrapper__image img {
  transition-duration: 0.2s;
}
.wrapper__text {
  position: absolute;
  left: 75px;
  top: calc(50% - 135px);
  width: 500px;
  height: auto;
  color: #eeeeee;
  user-select: none;
}
@media (max-width: 767px) {
  .wrapper__text {
    position: relative;
    order: 2;
    left: 0;
    top: 0;
  }
}
.wrapper__text h2 {
  font-size: 56px;
}
.wrapper__text h3 {
  font-size: 28px;
}
.wrapper__text__name {
  width: 500px;
  height: 70px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-shadow: 2px 2px 10px white;
}
@media (max-width: 767px) {
  .wrapper__text__name {
    text-align: center;
  }
}
.wrapper__text__name h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  transition: 0.2s;
  height: 70px;
}
.wrapper__text__description {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  text-shadow: 2px 2px 10px white;
}
@media (max-width: 767px) {
  .wrapper__text__description {
    display: none;
  }
}
.wrapper__text__description h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  transition: 0.2s;
  min-height: 200px;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=app-header.css.map */
