@charset "UTF-8";
:root {
  --font-family-base: "Rubik", sans-serif;
}

.app {
  overflow-x: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  position: relative;
}

body {
  background-color: #000000;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

.loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 48px 0 #fff, -48px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(255, 255, 255, 0.1333333333);
    box-shadow: 48px 0 rgba(255, 255, 255, 0.1333333333), -48px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 48px 0 rgba(255, 255, 255, 0.1333333333), -48px 0 rgba(255, 255, 255, 0.1333333333);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1333333333);
    box-shadow: 48px 0 #FFF, -48px 0 rgba(255, 255, 255, 0.1333333333);
  }
}
/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Rubik";
  src: url("../../../public/fonts/Rubik-Light.woff2") format("woff2 ");
  font-weight: 400;
  font-display: swap;
}
.main {
  margin-bottom: 50px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .main {
    margin-bottom: 0;
  }
}
.main__text {
  overflow: hidden;
  margin-bottom: 50px;
  height: 120px;
  display: flex;
  align-items: start;
  justify-content: center;
}
@media (max-width: 767px) {
  .main__text {
    margin-bottom: 25px;
    height: 75px;
  }
}
.main__name {
  font-weight: bold;
  font-size: 100px;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 10px white;
  margin-block-start: 0;
  margin-block-end: 0;
  transform: translateY(200px);
  opacity: 0;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}
@media (max-width: 767px) {
  .main__name {
    font-size: 3rem;
  }
}

.container {
  opacity: 0;
  transition-duration: 0.75s;
  transition-delay: 0.3s;
  width: 1100px;
  margin: 0;
  transform: matrix(1, 0, -0.7, 1, 0, 0);
  color: #A770F1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-auto-flow: row;
  grid-template-areas: "a b b b" "a b b b" "c c c c" "c c c c" "d d d e" "d d d e" "f f f f";
}
@media (max-width: 767px) {
  .container {
    opacity: 0;
    transform: translateX(300px);
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
  .container div {
    width: 100%;
    height: 100px;
  }
}
.container div {
  color: #ffffff;
  background-color: #212121;
  overflow: hidden;
  border: rgb(187, 187, 187) solid 2px;
}
.container div:hover {
  transform: scale(1.01);
  transition: 0.1s;
}

.a {
  grid-area: a;
  background-image: url("../../../public/Banto 1.jpg");
  background-position: center;
  background-size: cover;
  font-size: 2rem;
}
.a p {
  position: absolute;
  left: calc(85% - 8rem);
  top: calc(85% - 2rem);
}
@media (max-width: 767px) {
  .a p {
    font-size: 1.5rem;
  }
}

.b {
  grid-area: b;
  background-image: url("../../../public/Banto 2.jpg");
  background-position: center;
  background-size: cover;
  font-size: 2rem;
}
.b p {
  position: absolute;
  left: calc(50% - 8rem);
  top: calc(25% - 2rem);
}
@media (max-width: 767px) {
  .b p {
    font-size: 1.5rem;
    left: calc(50% - 6rem);
    top: calc(25% - 1.5rem);
  }
}

.c {
  grid-area: c;
  background-image: url("../../../public/Banto 3.jpg");
  background-position: center;
  background-size: cover;
}
.c .new_hero {
  font-size: 3rem;
  position: absolute;
  left: calc(18% - 8rem);
  top: calc(50% - 3rem);
  color: black;
}
@media (max-width: 767px) {
  .c .new_hero {
    font-size: 1.5rem;
    left: calc(18% - 4rem);
    top: calc(50% - 1.5rem);
  }
}
.c .muerta {
  font-size: 5rem;
  position: absolute;
  left: calc(80% - 8rem);
  top: calc(50% - 4rem);
  color: black;
}
@media (max-width: 767px) {
  .c .muerta {
    font-size: 2.5rem;
    left: calc(80% - 4rem);
    top: calc(50% - 2rem);
  }
}

.d {
  grid-area: d;
  background-image: url("../../../public/Banto 4.jpg");
  background-position: center;
  background-size: cover;
  font-size: 2.5rem;
}
.d p {
  position: absolute;
  left: calc(50% - 20rem);
  top: calc(85% - 2rem);
}
@media (max-width: 767px) {
  .d p {
    font-size: 1.25rem;
    left: calc(50% - 10rem);
    top: calc(85% - 1rem);
  }
}

.e {
  grid-area: e;
  background-image: url("../../../public/Banto 5.jpg");
  background-position: center;
  background-size: cover;
  font-size: 1.5rem;
  padding: 1rem;
}

.f {
  grid-area: f;
  background-image: url("../../../public/Banto 6.jpg");
  background-position: center;
  background-size: cover;
}

.container > div[class] {
  position: relative;
  border-radius: 1rem;
  font-weight: bold;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*# sourceMappingURL=app-news.css.map */
